# ============
# NODE_MODULES
# ============
node_modules

# ============
# IDEA
# ============
.idea
*.iml

# ============
# REPORTS
# ============
mocha-report.xml
coverage
report.xml

# ============
# LOGS
# ============
npm-debug.log
log.log
dump.rdb
